<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dt191g_projekt</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dt191g_projekt.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />

</head>

<body>
    <header>
        <nav class="navigation">
            <div class="container">
                <div>
                    <ul>
                        <li class>
                            <a asp-area="" asp-controller="Sanitation" asp-action="Index">Saneringar</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2025 - dt191g_projekt - <a asp-area="" asp-controller="Sanitation" asp-action="Index">Saneringar</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
