@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
    
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dt191g_projekt</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />

</head>

<body>
    <header>
        <nav>
            <div class="nav-container">
                 <button class="hamburger" id="menuToggle">&#9776;</button>
                <div>
                  @*Kontrollerat om användaren är inloggad innan du visar länkar *@
                    @if (SignInManager.IsSignedIn(User))
                            {

                    <ul class="nav-menu" id="navMenu">
                                @if (ViewContext.RouteData.Values["controller"]?.ToString() != "Sanitation") /*Kontroll för att dölja aktuell sida (controller)*/
                                { 
                                    <li>
                                    <a asp-area="" asp-controller="Sanitation" asp-action="Index">Saneringar</a>
                                    </li>
                                }
                                @if (ViewContext.RouteData.Values["controller"]?.ToString() != "Customer")
                                {
                                    <li>
                                    <a asp-area="" asp-controller="Customer" asp-action="Index">Kunder</a>
                                    </li>
                                }
                                @if (ViewContext.RouteData.Values["controller"]?.ToString() != "Worker")
                                {
                                <li>
                                    <a asp-area="" asp-controller="Worker" asp-action="Index">Sanerare</a>
                                </li>
                                }
                    </ul>
                    }
                    @*Importerar _LoginPartial för korrekt inloggningsinformation*@
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2025 - dt191g_projekt - <a asp-area="" asp-controller="Sanitation" asp-action="Index">Saneringar</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
